@import "colors";
@import "../shared";

body {
  padding: 0;
}

section {
  overflow: hidden;

  header {
    padding: 64px 0;
    text-align: center;

    h1 {
      color: $blue-grey-800;
      font-size: 36px;
      font-weight: 500;
      letter-spacing: -1px;
    }

    p {
      color: $blue-grey-700;
      padding-top: 16px;
      font-size: 20px;
    }
  }

  section {
    background: $grey-100;
    width: 544px;
    padding: 32px;
    border-radius: 6px;
    float: left;

    h1 {
      font-size: 20px;
      font-weight: 500;
    }

    p {
      padding: 16px 0;
      line-height: 1.5;
    }
  }

  aside {
    width: 320px;
    padding: 32px 0;
    float: right;

    h2 {
      color: $blue-grey-700;
      padding: 0 0 8px;
      font-weight: 600;
    }

    p {
      color: $blue-grey-600;
      font-size: 15px;
      line-height: 1.5;

      + h2 {
        padding-top: 32px;
      }
    }

    a {
      color: $blue-grey-700;
      border-bottom: 1px solid $blue-grey-700;
      text-decoration: none;

      &:hover {
        color: $blue-600;
        border-color: $blue-600;
      }
    }
  }

  .note {
    font-size: 14px;
    text-align: center;

    &,
    a {
      color: $blue-grey-500;
    }

    a {
      text-decoration: none;

      &:hover {
        color: $blue-500;
      }
    }
  }

  .error-message {
    background: $red-50;
    margin: 0 0 48px;
    padding: 8px;
    border: 1px solid $red-100;
    border-radius: 3px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;

    &,
    a {
      color: $red-800;
    }

    a {
      border-bottom: 1px solid $red-800;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 960px) {
  section {
    padding: 0 16px;

    header {
      padding: 48px 0;

      h1 {
        font-size: 28px;
      }

      p {
        font-size: 16px;
        line-height: 1.4;
      }
    }

    aside,
    section {
      width: auto;
      float: none;
    }

    aside {
      padding: 32px;

      h2 {
        line-height: 1.5;
      }
    }
  }

  .error-message {
    font-size: 14px;
  }
}
