<footer class="footer">
  <div class="container">
    <section>
      <h1>Product</h1>

      <ul>
        <li><a href="mailto:hello@tristandunn.com">Support</a></li>
        <li><%= link_to "Releases", releases_path %></li>
      </ul>
    </section>

    <section>
      <h1>Legal</h1>

      <ul>
        <li><%= link_to "Refunds", refunds_path %></li>
        <li><%= link_to "Terms", terms_path %> &#38; <%= link_to "Privacy", privacy_path %></li>
      </ul>
    </section>
  </div>
</footer>
