<%= render "shared/header" %>

<section class="container policy">
  <header>
    <%= header "Refunds Policy" %>
  </header>

  <h2>Digital Products</h2>

  <p>We issue refunds for digital products within 7 days of the original purchase of the product. We recommend contacting us for assistance if you experience any issues receiving or downloading our products.</p>

  <h2>Contact Us</h2>

  <p>If you have any questions about our Refunds Policy, please contact us by e-mail at <a href="mailto:hello@tristandunn.com">hello@tristandunn.com</a>.</p>
</section>

<%= render "shared/footer" %>
